<!-- ###WTCART### begin --> 
    <div class="wtcart_minicart">
      ###CART_GROSS###
    </div>
<!-- ###WTCART### end -->


<!-- ###WTCART_EMPTY### begin --> 
    <div class="wtcart_minicart_empty">
      ###WTCART_LL_EMPTY###<br />
      ###WTCART_LL_PRICE###
    </div>
<!-- ###WTCART_EMPTY### end -->