.tx_powermail_pi1_fieldwrap_html_text label {
  position:absolute;
  width:100px;
}
.tx_powermail_pi1_fieldwrap_html_text input {
  left:100px;
  position:relative;
}
table.powermail_all {
  margin-bottom:1em;
}
.tx_powermail_pi1_formconfirmation_back {
  float:left;
}
.tx_powermail_pi1_formconfirmation_submit {
  text-align:right;
}
