body {
  background-color: #B02015;
  background-image:url(Images/hfs_logo.gif);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:-70px -70px;
}

a,
a:link,
a:visited {
  color:#ffd480;
  font-weight:normal;
  text-decoration:none;
}
a:active,
a:focus,
a:hover {
  text-decoration:underline;
}
body, h1, h2, h3, h4 {
  color:#FFF;
}
p {
  line-height:1.2em;
}



  /***************************************************************************************
  * BOX-MODEL
  */

#box_header {
  height:144px;
  overflow:hidden;
  text-align: right;
}
  #quicknav {
    position:relative;
    top:-1.4em;
    text-align:left;
    width: 645px;
  }
    #nav_icons_top {
      float:right;
    }
#footer p {
  font-size:62.5%;
}
#nav_icons_bottom {
  float:right;
}

  /* BOX-MODEL */



  /***************************************************************************************
  * MENU
  */

#box_menu a,
#box_menu a:link,
#box_menu a:visited,
#quicknav a,
#quicknav a:link,
#quicknav a:visited {
  color:#FFF;
  text-decoration:none;
}
#box_menu a:active,
#box_menu a:focus,
#box_menu a:hover,
#quicknav a:active,
#quicknav a:focus,
#quicknav a:hover {
/*  color:#cc7c7a;*/
  text-decoration:underline;
}
#box_menu ul,
#box_menu ol,
#quicknav ul,
#quicknav ol,
#nav_icons_bottom ul,
#nav_icons_bottom ol {
  color:white;
  font-size:0.85em;
  list-style:none;
  margin:0;
  padding:0;
}
#box_menu ul ul,
#box_menu ol ol,
#quicknav ul ul,
#quicknav ol ol {
  font-size:1em;
}

#box_menu li,
#quicknav li,
#nav_icons_bottom li {
  background-repeat: no-repeat;
  background-position: 0 .1em;
  line-height:1.2em;
  margin-bottom: 0.2em;
  padding-left: 1.2em;
}
#quicknav li,
#nav_icons_bottom li {
  border-left:1px solid white;
  float:left;
  padding: 0 .6em;
}
#quicknav li.firstitem,
#nav_icons_top li,
#nav_icons_bottom li {
  border-left:0;
  padding-left: 0;
}
#nav_icons_top li.last,
#nav_icons_bottom li.last {
  border-left:1px solid white;
  padding: 0 0 0 .6em;
}
#nav_icons_bottom {
  font-size: .85em;
}
#nav_icons_bottom a {
  color: white;
}

#box_menu li li,
#quicknav li li {
  margin-bottom: 0em;
}
#box_menu li.actifsub,
#box_menu li.ifsub {
  background-image: url(Images/submenu_default.gif);
}
#box_menu li.curifsub {
  background-image: url(Images/submenu_activ.gif);
}
#box_menu li.cur a,
#box_menu li.curifsub a,
#box_menu li li.cur a,
#box_menu li li.curifsub a {
  color: #FFD480;
}
#box_menu li.no a,
#box_menu li li a,
#box_menu li li.no a,
#box_menu li li.ifsub a,
#box_menu li li.curifsub li a {
  color: #FFF;
}


.csc-menu dt {
  font-weight:bold;
}
  /* MENU */



  /***************************************************************************************
  * RECORDS, IMAGES
  */

.tx-browser-pi1 .listview .record01 {
/*  height:60px;*/
  border-bottom:solid white .2em;
  padding-top:.4em
}
.tx-browser-pi1 .listview .image01 {
  float:left;
  padding:0 1em 0 0;
  width:80px;
}
/*
  101: Staff
  401: News
  501: Headquarters
*/

.tx-browser-pi1 .singleview-101 .image,
.tx-browser-pi1 .singleview-401 .image,
.tx-browser-pi1 .singleview-501 .image {
  float:right;
  overflow:hidden;
  padding-left:.4em;
  width:140px;
}
  /* RECORDS, IMAGES */






  /***************************************************************************************
  * BACKGROUND
  */

#box_content .tx-browser-pi1 .backgroundTop,
#box_margin .tx-browser-pi1 .backgroundTop {
  background-image:url("Images/header.gif");
  background-repeat:no-repeat;
}
#box_content .tx-browser-pi1 .listview .backgroundTop {
  width:594px;
}
#box_content .tx-browser-pi1 .backgroundTop h1,
#box_content .tx-browser-pi1 .backgroundTop .header01,
#box_margin .tx-browser-pi1 .backgroundTop h3 {
  background-image:url("Images/header_right.gif");
  background-position:right top;
  background-repeat:no-repeat;
  border-bottom: 2px solid #888;
  color:#b02015;
  font-size:1.2em;
  font-weight:bold;
  margin:0;
  padding:.2em 0 .3em 0;
  text-align:center;
}
#box_content .tx-browser-pi1 .backgroundTop h1,
#box_content .tx-browser-pi1 .backgroundTop .header01 {
  padding:.4em 0 .2em 0;
  text-align:center;
}
#box_content .tx-browser-pi1 .backgroundTop .header01 {
  font-size:.85em;
  padding:.2em 0;
}
#box_content .tx-browser-pi1 .listview,
#box_margin .tx-browser-pi1 .listview,
#box_content .tx-browser-pi1 .singleview,
#box_margin .tx-browser-pi1 .singleview {
  background-image:url("Images/footer.gif");
  background-position:left bottom;
  background-repeat:no-repeat;
}
#box_content .tx-browser-pi1 .listview,
#box_content .tx-browser-pi1 .singleview {
  padding:0 6px;
}
#box_margin .tx-browser-pi1 .listview,
#box_margin .tx-browser-pi1 .singleview {
  padding:.8em 6px 0 6px;
}

#box_content .tx-browser-pi1 .listview .backgroundBottom,
#box_content .tx-browser-pi1 .singleview .backgroundBottom,
#box_margin .tx-browser-pi1 .listview .backgroundBottom {
  background-image:url("Images/footer_right.gif");
  background-position:right bottom;
  background-repeat:no-repeat;
}
#box_content .tx-browser-pi1 .listview .backgroundBottom,
#box_content .tx-browser-pi1 .singleview .backgroundBottom {
  width:594px;
}
#box_margin .tx-browser-pi1 .listview .backgroundBottom {
  width:194px;
}
  /* BACKGROUND */



  /***************************************************************************************
  * AJAX
  */

.txbrowserpi1loader {
  background: #fff url("/typo3conf/ext/browser/res/images/browser_loader.gif") no-repeat  center ;
  background-color: #fff;
  opacity:.8;
  position: relative;
  top:10px;
  left:0;
  width:100%;
  height:30px;
  margin:0 0 -42px 0;
  z-index:2;
}

.loading {
  opacity:.8;
}
.txbrowserpi1ajaxerror {
  color: #d00;
}
  /* AJAX */



  /***************************************************************************************
  * BROWSER
  */

.tx-browser-pi1 a,
.tx-browser-pi1 a:link,
.tx-browser-pi1 a:visited {
  color:#B02015;
  font-weight:bold;
  text-decoration:none;
}
.tx-browser-pi1 a:active,
.tx-browser-pi1 a:focus,
.tx-browser-pi1 a:hover {
  text-decoration:underline;
}

.tx-browser-pi1 {
  color:#000;
  font-weight:normal;
}

.tx-browser-pi1 ul.indexBrowser,
.tx-browser-pi1 ul.modeSelector {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-size:.8em;
}

* html .tx-browser-pi1 ul.indexBrowser,
* html .tx-browser-pi1 ul.modeSelector {
  width: 100%;
}

.tx-browser-pi1 ul.indexBrowser li.last,
.tx-browser-pi1 ul.modeSelector li.last {
  border-right:0;
}

.indexBrowser li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  background-image: url(Images/tab.gif);
  color: #888;
}
.indexBrowser li span {
  padding: 1px 0.5em;
  background-image: url(Images/tab_right.gif);
  background-repeat: no-repeat;
  background-position: right top;
  display: block;
}
.indexBrowser li.selected {
}
.indexBrowser li a {
  background-image: url(Images/tab.gif);
  background-repeat: no-repeat;
  background-position: left top;
  color:#444;
  display: block;
  font-weight:bold;
  text-decoration: none;
}
.indexBrowser li.tab-alle,
.indexBrowser li.tab-alle a {
  background-image: url(Images/tab_first.gif);
}
.indexBrowser li.selected a,
.indexBrowser li.selected a:hover{
  background-image: url(Images/tab_act.gif);
  color: #FFF;
}

.indexBrowser li a:hover{
  background-image: url(Images/tab_act.gif);
  color: #000;
  color: #FFF;
}
.indexBrowser li a span {
  background-image: url(Images/tab_right.gif);
}
.indexBrowser li.selected a span,
.indexBrowser li.selected a:hover span {
  background-image: url(Images/tab_act_right.gif);
}

.indexBrowser li a:hover span {
  background-image: url(Images/tab_act_right.gif);
}

/* modeSelector */
#content-main .modeSelector {
  list-style-type: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 1.8em;
}
* html #content-main .modeSelector {
  width: 100%;
}
.modeSelector li {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}
.modeSelector li.selected {
}
.modeSelector li a {
  background-image: url(Images/tab.gif);
  background-repeat: no-repeat;
  background-position: left top;
  display: block;
}
.modeSelector li.tab-0 a {
  background-image: url(Images/tab_first.gif);
}
.modeSelector li.selected a,
.modeSelector li.selected a:hover{
  text-decoration: none;
  background-image: url(Images/tab_act.gif);
  color: #FBCC60;
}

.modeSelector li a:hover{
  background-image: url(Images/tab_over.gif);
  color: #333333;
}
.modeSelector li a span {
  background-repeat: no-repeat;
  background-position: right top;
  display: block;
  padding: 2px 1em 2px;
  background-image: url(Images/tab_right.gif);
}
.modeSelector li.selected a span,
.modeSelector li.selected a:hover span{
  background-image: url(Images/tab_act_right.gif);
}

.modeSelector li a:hover span {
  background-image: url(Images/tab_over_right.gif);
}

.tx-browser-pi1 .indexBrowser,
.tx-browser-pi1 .browsebox,
.tx-browser-pi1 .searchbox,
.tx-browser-pi1 .sortbox {
  padding: .6em 6px 0 6px;
  position:relative;
}
.tx-browser-pi1 .indexBrowser {
  height:1.2em;
}
.tx-browser-pi1 .browsebox {
  font-size:.85em;
  text-align:center;
}
.tx-browser-pi1 .sortbox {
  padding: .6em  0;
  position:relative;
}
.searchbox fieldset,
.selectboxorderby fieldset {
  border:0;
  padding:0;
}
.searchbox fieldset legend,
.selectboxorderby fieldset legend {
  display:none;
}

.tx-browser-pi1 .filter {
  margin:.2em 0 0 0;
}
  /* BROWSER */




  /***************************************************************************************
  * BROWSER TEMPLATING
  * ALL VIEWS
  */

.tx-browser-pi1 {
  background:#FFF;
/*  font-size:1.1em;*/
  margin:0 0 .8em 0;
}
.tx-browser-pi1 p.backbutton {
  text-align:right;
  margin:0;
}
#box_content .tx-browser-pi1 p {
/*  font-size:.85em;*/
  line-height:1em;
}
#box_content .tx-browser-pi1 p.news_datetime {
  font-size:.85em;
  margin-left:7.5em;
}
  /* ALL VIEWS */

  /* LIST VIEW */
.tx-browser-pi1 .listview p {
  padding: 0;
  margin: 0 0 .4em 0;
}
#box_margin .tx-browser-pi1 .listview p {
  font-size:1.2em;
  padding: 0;
  margin: 0 0 .4em 0;
}

#box_content .listview h2 {
  margin:0 0 .2em 0;
}
#box_content .listview h3 {
  font-size:.85em;
  margin:.4em 0 0 0;
}
#box_margin .tx-browser-pi1 .listview-211 .cal_datetime,
#box_margin .tx-browser-pi1 .listview-211 .cal_title {
  font-size: 1.2em;
  font-weight:normal;
}
#box_margin .tx-browser-pi1 .listview-211 .cal_title {
  padding-bottom: .4em;
}
/*
  101: Staff
  201: Calendar
  401: News
  501: Headquarters
*/

.tx-browser-pi1 .listview-101 h2,
.tx-browser-pi1 .listview-101 h3,
.tx-browser-pi1 .listview-101 p,
.tx-browser-pi1 .listview-401 h2,
.tx-browser-pi1 .listview-401 h3,
.tx-browser-pi1 .listview-401 p,
.tx-browser-pi1 .listview-501 h2,
.tx-browser-pi1 .listview-501 h3,
.tx-browser-pi1 .listview-501 p {
  margin-left: 6.4em;
}
.tx-browser-pi1 .listview-201 .cal_datetime,
.tx-browser-pi1 .listview-201 .cal_subtitle,
.tx-browser-pi1 .listview-201 .cal_title,
.tx-browser-pi1 .listview-201 .cal_teasershort {
  margin-left: 4.8em;
}
  /* LIST VIEW */

  /* SINGLE VIEW */
.tx-browser-pi1 .singleview .socialbookmarks {
  float:right;
  font-size: 1em;
}
.singleview h1 {
  color:#B02015;
  font-size: 1.4em;
  line-height:1em;
  margin: .4em 0;
}
.singleview h2 {
  font-size: 1em;
  margin: 0 0 .4em 0;
}
  /* SINGLE VIEW */
  /* TEMPLATING */

.imageFloatLeft,
.imageFloatRight {
  background:#b02015;
}
.imageFloatLeft {
  border-right:1em solid #FFF;
  float:left;
}
.imageFloatRight {
  border-left:1em solid #FFF;
  float:right;
}
#box_content p.single-image_caption {
  color:#FFF;
  font-size:.7em;
  font-weight:bold;
  margin:0;
  padding: .1em .4em .4em .4em;
}

.returntolist {
  font-size:.8em;
  padding:0 6px;
}
.sbmFloatRight {
  float:right;
  padding:.4em 0 0 0;
}
  /* BROWSER TEMPLATING */



  /***************************************************************************************
  * CSC
  */


div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image {
  background:white;
  margin:0;
}
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-caption {
  color:#b02015;
  background:#b02015;
  color:#FFF;
  font-size:.75em;
  font-weight:bold;
  padding:.2em .4em;
}
div.csc-textpic div.csc-textpic-imagewrap img {
  margin: 0;
  vertical-align: bottom;
}
#box_content .csc-textpic div.csc-textpic-imagewrap img {
/*  #43596, 121204, dwildt, 1-*/
  /*  margin-bottom:1em;*/
}
#box_content .csc-textpic div.csc-textpic-imagewrap dt img,
#box_content .tx-browser-pi1 .csc-textpic div.csc-textpic-imagewrap img {
  margin-bottom:0;
}

#box_margin div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image .csc-textpic-caption {
  background:#b02015;
  color:#FFF;
  font-size:.6em;
  font-weight:bold;
  line-height:.6em;
  margin:0;
}
  /* CSC */
