  html {
/*   height: 101%;*/
  }
  
  body {
/*   height: 101%;*/
   font-family: Arial, Helvetica, sans-serif;
   font-size: 85%;  
   text-align: center; 
   
   margin: 0;
   padding: 0;
   
   background: #B02015 url(gifs/bg_main.gif) top center repeat-y;
  }
  
  /*
  div, h2 {
   border-width: 0px;;
   border-style: solid;
   border-color: blue;
  } 
  */
  
  form {
   display: inline;
   margin: 0;
   padding: 0;
  }
  
  .textinput {
   float:left;
   height: 16px;
   width: 147px;
   margin: 0;
   
   border-width: 1px;
   border-style: solid;
   border-color: #666666;
  }
  
  .button {
   float:right;
   margin: 0;
  }
  
  img {
   border: 0px;
  }
  
  .cleaner {
   clear: both;
   height: 1px;
   font-size: 0px;
  }
  
  
  
  /* startseite -----------------------------------------*/
  body#box {
   background: #B02015;
   margin: 0;
  }
  
  #box1 {
   text-align: center;
   position: absolute;
   /*top: 50%;*/
   left: 0px;
   width: 100%;
   /*height: 1px;*/
   overflow: visible;
  }
  
  #box2 {
   text-align: left;
   background-color: #FFFFFF;
   margin-left: -397px;    
/*   margin-top: -285px;*/
   position: absolute;
   left: 50%;
   width: 794px; 
   /* height: 570px; */
  }
  
  #box_top {
   margin: 15px;
   width: 764px;
   /* height: 540px; */
   background-color: #FFFFFF;
  }
  
  #box_header {
   text-align: right;
   width: 764px;
  }
  
  #search {
   float: left; 
   margin-top:5px;
  }
  
  #box_menu {
   /*float: right;*/
   /*text-align: right;*/
   padding-top: 4px;
  }
  
  .cleanerstart {
   clear: both;
   height: 5px;
   width: 764px;
   font-size: 0px;
  }
  
  #box_content {
   
   width: 764px;
  }
  
  .floatbox {
   float:left;
   margin-left: 2px;
  }
  
  #startbox1 {
   width: 190px;
  }
  
  #startbox2 {
   width: 194px;
  }
  
  #startbox3 {
   width: 185px;
  }
  
  #startbox4 {
   width: 189px;
  }
  
  #boxregie {
   background-color: #EB0303;
  }
  
  #boxschauspiel {
   background-color: #10961D;
  }
  
  #boxtanz {
   background-color: #f68c1a;
  }
  
  #boxpuppenspiel {
   background-color: #2f7acd;
  }
  
  #box_footer {
   width: 764px;
   height: 10px;
   float:left;
   text-align: left;
   
   background-color: #D1CFCF;
  }
  
  
  
  
  #header {
   width: 765px;
   height: 86px;
   float:left;
   text-align: right;
   
   background: url(gifs/bg_allg.gif) repeat-x;
  }
  
  
  
  
  #content {
   width: 572px; /* width: 528px; */
   float:right;
   
   /* padding: 56px 21px 20px 23px; */ 
   
   text-align: left;
   font-size: 90%;
  
  }
  
  
  
#box_menu ul,
#box_menu ol {
  color:white;
  list-style:none;
  margin:0;
}
#box_menu ul li,
#box_menu ol li {
  display: inline;
  padding: 0 1em 0 0;
}
