<f:layout name="hfs_default" />
<f:section name="content">
  <div class="maincontent">
    <div class="row">
      <div id="box_content" class="small-12 medium-8 columns maincontentmain">
        <!--content-->
        <f:cObject typoscriptObjectPath="base_hfsberlin.structure.content.main" />
        <!--/content-->
      </div>
      <div id="box_menu" class="small-12 medium-2 columns maincontentleft">
        <f:cObject typoscriptObjectPath="base_hfsberlin.structure.content.navigation" />
      </div>
      <div id="box_margin" class="small-12 medium-2 columns maincontentright">
        <f:cObject typoscriptObjectPath="base_hfsberlin.structure.content.margin" />
      </div>
    </div>
  </div>
</f:section>