.tx-browser-pi1 .datesheet {
    background-color: #B02015 !important;
    border-color: #B02015 !important;
}
.tx-browser-pi1 .datesheet_expired {
  opacity:0.5;
}
.tx-browser-pi1 .datesheet_expired a,
.tx-browser-pi1 .datesheet_expired a:link, 
.tx-browser-pi1 .datesheet_expired a:visited {
  color: #FFF;
}
.footer .row:nth-child(1),
.header .main:nth-child(1),
.maincontent > div:nth-child(1) {
  background-color:white;
}
.footer p {
  border-top:1em solid #B02015;
  font-size:0.80em;
  margin-bottom:0;
  text-align:center;
}
.header .main:nth-child(1) {
  background-color: #FFF;
  background-image: url("background/line_red_780.gif");
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom:2em;
  padding-top:1em;
}

.maincontentleft {
  font-size:0.75em !important;
}
.maincontentleft ul {
  line-height:1em !important;
}

.listview-201 h2,
.listview-201 h3 {
  font-size:1em !important;
  margin:0;
}
.listview-201 h2,
.listview-201 h3,
.listview-201 p {
  line-height:1em !important;
}
.listview-201 h3 {
  color: #FF594D;
  font-weight:bold;
}
.tx-browser-pi1-list-511 {
  background-color:rgb(238,238,238);
  font-size:0.85em;
}

/***************************************************************************************
* INITIAL
*/

body {
  background-color: #B02015;
}

.cleaner {
  clear: both;
  height: 1px;
  font-size: 0px;
}
a,
a:link,
a:visited {
  color:#B02015;
  font-weight:bold;
  text-decoration:none;
}
a:active,
a:focus,
a:hover {
  text-decoration:underline;
}
a.invert,
a.invert:link,
a.invert:visited.invert {
  color:white;
}
h1 {
  font-size:2em;
  line-height:1em;
  margin: 1em 0 .4em 0;
}
.csc-header-n1 h1,
.csc-header-n1 h2,
.csc-header-n1 h3 {
  margin: 0 0 .4em 0;
}
.csc-header-n2 h1 {
  margin: .4em 0 .4em 0;
}
h2 {
  font-size: 1.4em;
  line-height:1em;
  margin: 1em 0 .2em 0;
}
h3 {
  font-size: 1em;
  margin: 1em 0 .2em 0;
}
h4, h5 {
  font-size: 1em;
  margin: 1em 0 .2em 0;
}
h5 {
  font-size: 1em;
  margin: 1em 0 .2em 0;
}

fieldset {
  border:0;
  padding:0;
}
legend {
  display:none;
}

p {
  line-height:1.1em;
  font-size:0.85em;
}
.align-center {
  text-align:center;
}
.align-justify {
  text-align:justify;
}
.align-left {
  text-align:left;
}
.align-right {
  text-align:right;
}

.red_bold {
  color:#B02015;
  font-weight:bold;
}
.orange_bold {
  color:#FF594D;
  font-weight:bold;
}
.float_right {
  float:right;
}

/* INITIAL */



/***************************************************************************************
* BOX-MODEL
*/

/*body {
 margin: 0;
}*/

#box_header {
  background-color: #FFF;
  background-image: url("background/line_red_780.gif");
  background-position: bottom;
  background-repeat: repeat-x;
  height: 10em;
  margin: 2em 1em 0 1em;
  overflow:hidden;
  text-align: right;
}
#box3 {
  background-color: #FFF;
  background-image: url("background/bat_menu_grey.gif");
  background-position: 0 left;
  background-repeat: repeat-y;
  margin: 0 1em 0 1em;
  position: relative;
}
.maincontentleft {
  background: #E3E3E3;
  border: 4px solid #E3E3E3;
}
/* BOX-MODEL */



/***************************************************************************************
* MENU
*/

.maincontentleft a,
.maincontentleft a:link,
.maincontentleft a:visited {
  color:#000;
  text-decoration:none;
}
.maincontentleft a:active,
.maincontentleft a:focus,
.maincontentleft a:hover {
  color:#B02015;
  font-weight:bold;
  /*  text-decoration:underline;*/
}
.maincontentleft ul,
.maincontentleft ol {
  color:#000;
  list-style:none;
  margin:0;
  padding:0;
  font-size:1.2em;
}
.maincontentleft ul ul,
.maincontentleft ol ol {
  font-size:1em;
}

.maincontentleft li {
  background-repeat: no-repeat;
  background-position: 0 .1em;
  border-top: 1px solid #B02015;
  margin-bottom:.2em;
  padding-top:.2em;
}
.maincontentleft li li {
  border-top:0;
  margin-bottom: 0em;
  padding-left:1em;
}
.maincontentleft li.actifsub,
.maincontentleft li.ifsub {
  background-image: url(img/submenu_default.gif);
}
.maincontentleft li.curifsub {
  background-image: url(img/submenu_activ.gif);
}
.maincontentleft li.cur a,
.maincontentleft li.curifsub a,
.maincontentleft li li.cur a,
.maincontentleft li li.curifsub a {
  color: #B02015;
  font-weight:bold;
}
.maincontentleft li.no a,
.maincontentleft li li a,
.maincontentleft li li.no a,
.maincontentleft li li.ifsub a,
.maincontentleft li li.curifsub li a {
  color: #000;
}


.csc-menu dt {
  font-weight:bold;
}
/* MENU */



/***************************************************************************************
* AJAX
*/

.txbrowserpi1loader {
  background: #fff url(/typo3conf/ext/browser/res/images/browser_loader.gif) no-repeat  center ;
  background-color: #fff;
  opacity:.8;
  position: relative;
  top:10;
  left:0;
  width:100%;
  height:30px;
  margin:0 0 -42px 0;
  z-index:2;
}

.loading {
  opacity:.8;
}
.txbrowserpi1ajaxerror {
  color: #d00;
}
/* AJAX */



/***************************************************************************************
* BROWSER
*/

.tx-browser-pi1 a,
.tx-browser-pi1 a:link,
.tx-browser-pi1 a:visited {
  color:#B02015;
  font-weight:bold;
  text-decoration:none;
}
.tx-browser-pi1 a:active,
.tx-browser-pi1 a:focus,
.tx-browser-pi1 a:hover {
  text-decoration:underline;
}
.tx-browser-pi1 a.invert,
.tx-browser-pi1 a.invert:link,
.tx-browser-pi1 a.invert:visited {
  color:white;
}

.tx-browser-pi1 .datesheet a:active,
.tx-browser-pi1 .datesheet a:focus,
.tx-browser-pi1 .datesheet a:hover {
  text-decoration:none;
}
/* BROWSER */




/***************************************************************************************
* BROWSER TEMPLATING
* ALL VIEWS
*/

/*.tx-browser-pi1 {
  background:#FFF;
  font-size:1.1em;
  margin:0 0 .8em 0;
}
.tx-browser-pi1 p.backbutton {
  text-align:right;
  margin:0;
}
#box_content .tx-browser-pi1 p {
  line-height:1.2em;
}
.tx-browser-pi1 .cal_caltype {
  font-weight:bold;
}
 ALL VIEWS

 LIST VIEW
.tx-browser-pi1 .listview p {
  padding: 0;
  margin: 0 0 .4em 0;
}

#box_content .tx-browser-pi1 .listview,
#box_content .tx-browser-pi1 .singleview {
  padding:0 6px;
}
#box_content .tx-browser-pi1 .my_title {
  display:none;
}
#box_content .listview h2 {
  margin:0 0 .2em 0;
}
#box_content .listview h3 {
  font-size:.85em;
  margin:.4em 0 0 0;
}
#box_content_margin h3 {
  margin:0;
  padding:.6em .6em .8em .6em;
}
#box_content_margin .tx-browser-pi1 {
  background:#E3E3E3;
  margin:1em 0 0 0;
  padding:.2em;
}
#box_content_margin .tx-browser-pi1 .listview {
  padding:0 .6em;
}
#box_content_margin p.my_listview_page {
  padding:.4em 0 0 0;
  text-align:right;
}
.tx-browser-pi1 .listview .socialbookmarks {
  float:right;
  font-size: 1em;
}
.tx-browser-pi1 .my_datesheet {
  background:#B02015;
  color:white;
}

.tx-browser-pi1 .listview .cal_datetime {
  font-size:.8em;
  font-weight:bold;
}
.tx-browser-pi1 .listview .record01 {
    height:60px;
  border-bottom:solid white .2em;
  padding-top:.4em
}
.tx-browser-pi1 .listview .image01 {
  float:left;
  padding:0 1em 0 0;
  width:80px;
}

#box_content_margin .wtcart_minicart {
  margin: 0 0 2em 0;
  padding:0 .4em;
}
 LIST VIEW

 SINGLE VIEW
.tx-browser-pi1 .singleview .socialbookmarks {
  float:right;
  font-size: 1em;
}
.singleview h1 {
  color:#B02015;
  font-size: 1.4em;
  line-height:1em;
  margin: .4em 0;
}
.singleview h2 {
  font-size: 1em;
  margin: .8em 0 .2em 0;
}
.tx-browser-pi1 .singleview .my_datesheet {
  background:#B02015;
  border-bottom:1em solid white;
  color:white;
}
.tx-browser-pi1 .singleview .my_datesheet_expired {
  background:#CCC;
}
.tx-browser-pi1 .singleview .my_datesheet_socialbookmarks {
  color:white;
  float:left;
}
.tx-browser-pi1 .singleview .my_datesheet_socialbookmarks .my_datesheet {
  float:none;
}
.tx-browser-pi1 .singleview .my_datesheet_socialbookmarks .socialbookmarks {
  float:none;
  padding:.4em 0;
  width:63px;
}

  201: Calendar bat
  302:
  502: Headquarters bat

.tx-browser-pi1 .singleview-201 .image {
  padding-bottom:1em;
}
.tx-browser-pi1 .singleview-201 .cal_subtitle {
  padding-bottom:1em;
}
.tx-browser-pi1 .singleview-502 .image {
  float:right;
  overflow:hidden;
  padding-left:.4em;
  width:140px;
}

.tx-browser-pi1 .singleview .cal_datetime {
  font-size:.8em;
  font-weight:bold;
}

.tx-browser-pi1 .singleview-331 .repertoire_image_top {
  margin:0 0 1em 0;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}
.tx-browser-pi1 .singleview .csc-textpic-above {
  padding-top:1em;
  overflow:hidden;
}
 RECORDS, IMAGES */




/* SINGLE VIEW */

/* TEMPLATING */

/*.imageFloatLeft,
.imageFloatRight {
  background:#B02015;
}
.imageFloatLeft {
  border-right:1em solid #FFF;
  float:left;
}
.imageFloatRight {
  border-left:1em solid #FFF;
  float:right;
}
#box_content p.single-image_caption {
  font-size:.7em;
  margin:0;
  padding: .1em 0 .4em 0;
}

.returntolist {
  font-size:.8em;
  padding:0 6px;
}
.sbmFloatRight {
  float:right;
  padding:.4em 0 0 0;
}

.tx-browser-pi1 span.category_menu ul {
  display:inline;
  list-style:none;
  margin:0;
  padding:0 1em 0 0;
}

.tx-browser-pi1 span.category_menu ul li {
  border-left:2px solid black;
  display:inline;
  padding-left:.4em;
}
.tx-browser-pi1 span.category_menu ul li:first-child {
  border-left:0;
  padding-left:0;
}*/

/*
  331: Repertoire
*/
.tx-browser-pi1 .repertoire_staff {
  font-weight:bold;
}

/*.tx-browser-pi1 .listview-331 .repertoire_title,
.tx-browser-pi1 .listview-331 .repertoire_teasershort {
  margin-left: 7.0em;
}*/


/* BROWSER TEMPLATING */



/***************************************************************************************
* CSC
*/


/*div.csc-textpic-intext-left div.csc-textpic-imagewrap {
  background:white;
}
div.csc-textpic-intext-right div.csc-textpic-imagewrap {
  background:white;
}*/
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-image {
  background:white;
  margin:0;
}
div.csc-textpic div.csc-textpic-imagewrap .csc-textpic-caption {
  font-size:.75em;
  margin:.1em .2em .2em .2em;
}
div.csc-textpic div.csc-textpic-imagewrap img {
  margin: 0;
  vertical-align: bottom;
}

dl.csc-uploads {
  font-size:.8em;
  margin:0;
  overflow:hidden;
  width:200px;
}
dl.csc-uploads dt {
}
dl.csc-uploads dt a {
  display:block;
  line-height:0;
}
dl.csc-uploads dd {
  margin:0;
}
dl.csc-uploads-odd {
}
dl.csc-uploads-even {
}
.csc-uploads-filesize {
}

/* CSC */


/* FORMS
.tx-browser-pi1 form.tx_org_cal-ticket {
  padding: 0;
}

input,
select,
textarea {
  border: 0px;
  color: #000;
  margin-bottom: 1em;
  padding: .2em .5em;
}
fieldset,
input,
textarea {
  border: 1px solid #CCC;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
select {
  background-color: #E3E3E3;
  border: 0 none;
}
fieldset {
  margin:1em 0;
  padding:1em 1em .4em 1em;
}
legend {
  color:#999;
  font-weight:bold;
}

div#box_content div.tx-powermail-pi1 label {
  margin-left: 0;
}*/
